/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
  Animations 
 */
/* Clouds */
@-webkit-keyframes moveLeft {
  /* line 31, ../sass/screen.scss */
  from {
    margin-left: 0%;
  }

  /* line 32, ../sass/screen.scss */
  to {
    margin-left: 150%;
  }
}

@-moz-keyframes moveLeft {
  /* line 35, ../sass/screen.scss */
  from {
    margin-left: 0%;
  }

  /* line 36, ../sass/screen.scss */
  to {
    margin-left: 150%;
  }
}

@keyframes moveLeft {
  /* line 39, ../sass/screen.scss */
  from {
    margin-left: 0%;
  }

  /* line 40, ../sass/screen.scss */
  to {
    margin-left: 150%;
  }
}

@-webkit-keyframes moveRight {
  /* line 44, ../sass/screen.scss */
  from {
    margin-left: 150%;
  }

  /* line 45, ../sass/screen.scss */
  to {
    margin-left: 0%;
  }
}

@-moz-keyframes moveRight {
  /* line 48, ../sass/screen.scss */
  from {
    margin-left: 150%;
  }

  /* line 49, ../sass/screen.scss */
  to {
    margin-left: 0%;
  }
}

@keyframes moveRight {
  /* line 52, ../sass/screen.scss */
  from {
    margin-left: 150%;
  }

  /* line 53, ../sass/screen.scss */
  to {
    margin-left: 0%;
  }
}

/* Title */
@-webkit-keyframes dropTitle {
  /* line 58, ../sass/screen.scss */
  0% {
    margin-top: -50%;
    -webkit-transform: rotate(-10deg);
  }

  /* line 59, ../sass/screen.scss */
  70% {
    -webkit-transform: rotate(10deg);
  }

  /* line 60, ../sass/screen.scss */
  100% {
    margin-top: 10%;
    -webkit-transform: rotate(2deg);
  }
}

@-moz-keyframes dropTitle {
  /* line 63, ../sass/screen.scss */
  0% {
    margin-top: -50%;
    -moz-transform: rotate(-10deg);
  }

  /* line 64, ../sass/screen.scss */
  70% {
    -moz-transform: rotate(20deg);
  }

  /* line 65, ../sass/screen.scss */
  100% {
    margin-top: 10%;
    -moz-transform: rotate(2deg);
  }
}

@keyframes dropTitle {
  /* line 68, ../sass/screen.scss */
  0% {
    margin-top: -50%;
    transform: rotate(-10deg);
  }

  /* line 69, ../sass/screen.scss */
  70% {
    transform: rotate(20deg);
  }

  /* line 70, ../sass/screen.scss */
  100% {
    margin-top: 10%;
    transform: rotate(2deg);
  }
}

@-webkit-keyframes raiseTitle {
  /* line 74, ../sass/screen.scss */
  0% {
    margin-top: 10%;
    -webkit-transform: rotate(2deg);
  }

  /* line 75, ../sass/screen.scss */
  10% {
    margin-top: 10%;
    -webkit-transform: rotate(-10deg);
  }

  /* line 76, ../sass/screen.scss */
  100% {
    margin-top: -50%;
    margin-bottom: 70%;
    -webkit-transform: rotate(2deg);
  }
}

@-moz-keyframes raiseTitle {
  /* line 79, ../sass/screen.scss */
  0% {
    margin-top: 10%;
    -moz-transform: rotate(2deg);
  }

  /* line 80, ../sass/screen.scss */
  10% {
    margin-top: 10%;
    -moz-transform: rotate(-10deg);
  }

  /* line 81, ../sass/screen.scss */
  100% {
    margin-top: -50%;
    margin-bottom: 70%;
    -moz-transform: rotate(2deg);
  }
}

@keyframes raiseTitle {
  /* line 84, ../sass/screen.scss */
  0% {
    margin-top: 10%;
    transform: rotate(2deg);
  }

  /* line 85, ../sass/screen.scss */
  10% {
    margin-top: 10%;
    transform: rotate(-10deg);
  }

  /* line 86, ../sass/screen.scss */
  100% {
    margin-top: -50%;
    margin-bottom: 70%;
    transform: rotate(2deg);
  }
}

/* Menu */
@-webkit-keyframes dropMenu {
  /* line 92, ../sass/screen.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 93, ../sass/screen.scss */
  1% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 94, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }
}

@-moz-keyframes dropMenu {
  /* line 97, ../sass/screen.scss */
  0% {
    opacity: 0;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 98, ../sass/screen.scss */
  1% {
    opacity: 1;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 99, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes dropMenu {
  /* line 102, ../sass/screen.scss */
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 103, ../sass/screen.scss */
  1% {
    opacity: 1;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 104, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }
}

@-webkit-keyframes raiseMenu {
  /* line 108, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
    opacity: 1;
  }

  /* line 109, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

@-moz-keyframes raiseMenu {
  /* line 112, ../sass/screen.scss */
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
    opacity: 1;
  }

  /* line 113, ../sass/screen.scss */
  100% {
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

@keyframes raiseMenu {
  /* line 116, ../sass/screen.scss */
  0% {
    transform: rotate(0deg) scale(1, 1);
    opacity: 1;
  }

  /* line 117, ../sass/screen.scss */
  100% {
    transform: rotate(-10deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

/* Sun */
@-webkit-keyframes radiate {
  /* line 122, ../sass/screen.scss */
  0% {
    -webkit-transform: scale(0.9, 0.9);
  }

  /* line 123, ../sass/screen.scss */
  100% {
    -webkit-transform: scale(1.1, 1.1);
  }
}

@-moz-keyframes radiate {
  /* line 126, ../sass/screen.scss */
  0% {
    -moz-transform: scale(0.9, 0.9);
  }

  /* line 127, ../sass/screen.scss */
  100% {
    -moz-transform: scale(1.1, 1.1);
  }
}

@keyframes radiate {
  /* line 130, ../sass/screen.scss */
  0% {
    transform: scale(0.9, 0.9);
  }

  /* line 131, ../sass/screen.scss */
  100% {
    transform: scale(1.1, 1.1);
  }
}

/* HUD */
@-webkit-keyframes showHUD {
  /* line 136, ../sass/screen.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 137, ../sass/screen.scss */
  1% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 138, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }
}

@-moz-keyframes showHUD {
  /* line 141, ../sass/screen.scss */
  0% {
    opacity: 0;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 142, ../sass/screen.scss */
  1% {
    opacity: 1;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 143, ../sass/screen.scss */
  100% {
    -moz-transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes showHUD {
  /* line 146, ../sass/screen.scss */
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 147, ../sass/screen.scss */
  1% {
    opacity: 1;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 148, ../sass/screen.scss */
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

@-webkit-keyframes removeHUD {
  /* line 152, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1, 1);
  }

  /* line 153, ../sass/screen.scss */
  100% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) scale(1.1, 1.1);
  }
}

@-moz-keyframes removeHUD {
  /* line 156, ../sass/screen.scss */
  0% {
    opacity: 1;
    -moz-transform: rotate(0deg) scale(1, 1);
  }

  /* line 157, ../sass/screen.scss */
  100% {
    opacity: 0;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }
}

@keyframes removeHUD {
  /* line 160, ../sass/screen.scss */
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1, 1);
  }

  /* line 161, ../sass/screen.scss */
  100% {
    opacity: 0;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }
}

/* return button */
@-webkit-keyframes xDrop {
  /* line 166, ../sass/screen.scss */
  0% {
    top: -80px;
    -webkit-transform: rotate(400deg);
  }

  /* line 167, ../sass/screen.scss */
  90% {
    top: 20px;
    -webkit-transform: rotate(30deg);
  }

  /* line 168, ../sass/screen.scss */
  100% {
    top: 20px;
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes xDrop {
  /* line 171, ../sass/screen.scss */
  0% {
    top: -80px;
    -moz-transform: rotate(400deg);
  }

  /* line 172, ../sass/screen.scss */
  90% {
    top: 20px;
    -moz-transform: rotate(30deg);
  }

  /* line 173, ../sass/screen.scss */
  100% {
    top: 20px;
    -moz-transform: rotate(0deg);
  }
}

@keyframes xDrop {
  /* line 176, ../sass/screen.scss */
  0% {
    top: -80px;
    transform: rotate(400deg);
  }

  /* line 177, ../sass/screen.scss */
  90% {
    top: 20px;
    transform: rotate(30deg);
  }

  /* line 178, ../sass/screen.scss */
  100% {
    top: 20px;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes xRaise {
  /* line 182, ../sass/screen.scss */
  0% {
    top: 20px;
    -webkit-transform: rotate(0deg);
  }

  /* line 183, ../sass/screen.scss */
  10% {
    top: 20px;
    -webkit-transform: rotate(30deg);
  }

  /* line 184, ../sass/screen.scss */
  100% {
    top: -80px;
    -webkit-transform: rotate(400deg);
  }
}

@-moz-keyframes xRaise {
  /* line 187, ../sass/screen.scss */
  0% {
    top: 20px;
    -moz-transform: rotate(0deg);
  }

  /* line 188, ../sass/screen.scss */
  10% {
    top: 20px;
    -moz-transform: rotate(30deg);
  }

  /* line 189, ../sass/screen.scss */
  100% {
    top: -80px;
    -moz-transform: rotate(400deg);
  }
}

@keyframes xRaise {
  /* line 192, ../sass/screen.scss */
  0% {
    top: 20px;
    transform: rotate(0deg);
  }

  /* line 193, ../sass/screen.scss */
  10% {
    top: 20px;
    transform: rotate(30deg);
  }

  /* line 194, ../sass/screen.scss */
  100% {
    top: -80px;
    transform: rotate(400deg);
  }
}

/* highscore */
@-webkit-keyframes dropScores {
  /* line 200, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }

  /* line 201, ../sass/screen.scss */
  1% {
    -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 1;
  }

  /* line 202, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }
}

@-moz-keyframes dropScores {
  /* line 205, ../sass/screen.scss */
  0% {
    -moz-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }

  /* line 206, ../sass/screen.scss */
  1% {
    -moz-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 1;
  }

  /* line 207, ../sass/screen.scss */
  100% {
    -moz-transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }
}

@keyframes dropScores {
  /* line 210, ../sass/screen.scss */
  0% {
    transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }

  /* line 211, ../sass/screen.scss */
  1% {
    transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 1;
  }

  /* line 212, ../sass/screen.scss */
  100% {
    transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes raiseScores {
  /* line 216, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }

  /* line 217, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

@-moz-keyframes raiseScores {
  /* line 220, ../sass/screen.scss */
  0% {
    -moz-transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }

  /* line 221, ../sass/screen.scss */
  100% {
    -moz-transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

@keyframes raiseScores {
  /* line 224, ../sass/screen.scss */
  0% {
    transform: rotate(1deg) scale(1, 1);
    opacity: 1;
  }

  /* line 225, ../sass/screen.scss */
  100% {
    transform: rotate(-2deg) scale(1.1, 1.1);
    opacity: 0;
  }
}

/* game over */
@-webkit-keyframes pulsate {
  /* line 232, ../sass/screen.scss */
  0% {
    -webkit-transform: scale(0.8, 0.8);
  }

  /* line 233, ../sass/screen.scss */
  100% {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@-moz-keyframes pulsate {
  /* line 236, ../sass/screen.scss */
  0% {
    -moz-transform: scale(0.8, 0.8);
  }

  /* line 237, ../sass/screen.scss */
  100% {
    -moz-transform: scale(1.2, 1.2);
  }
}

@keyframes pulsate {
  /* line 240, ../sass/screen.scss */
  0% {
    transform: scale(0.8, 0.8);
  }

  /* line 241, ../sass/screen.scss */
  100% {
    transform: scale(1.2, 1.2);
  }
}

@-webkit-keyframes dropMessage {
  /* line 245, ../sass/screen.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotate(10deg) scale(3, 3);
  }

  /* line 246, ../sass/screen.scss */
  1% {
    opacity: 1;
    -webkit-transform: rotate(10deg) scale(3, 3);
  }

  /* line 247, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(-5deg) scale(1, 1);
  }
}

@-moz-keyframes dropMessage {
  /* line 250, ../sass/screen.scss */
  0% {
    opacity: 0;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 251, ../sass/screen.scss */
  1% {
    opacity: 1;
    -moz-transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 252, ../sass/screen.scss */
  100% {
    -moz-transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes dropMessage {
  /* line 255, ../sass/screen.scss */
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 256, ../sass/screen.scss */
  1% {
    opacity: 1;
    transform: rotate(-10deg) scale(1.1, 1.1);
  }

  /* line 257, ../sass/screen.scss */
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

@-webkit-keyframes raiseMessage {
  /* line 261, ../sass/screen.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(-5deg) scale(1, 1);
  }

  /* line 262, ../sass/screen.scss */
  100% {
    opacity: 0;
    -webkit-transform: rotate(10deg) scale(3, 3);
  }
}

@-moz-keyframes raiseMessage {
  /* line 265, ../sass/screen.scss */
  0% {
    opacity: 1;
    -moz-transform: rotate(-5deg) scale(1, 1);
  }

  /* line 266, ../sass/screen.scss */
  100% {
    opacity: 0;
    -moz-transform: rotate(10deg) scale(3, 3);
  }
}

@keyframes raiseMessage {
  /* line 269, ../sass/screen.scss */
  0% {
    opacity: 1;
    transform: rotate(-5deg) scale(1, 1);
  }

  /* line 270, ../sass/screen.scss */
  100% {
    opacity: 0;
    transform: rotate(10deg) scale(3, 3);
  }
}

/* Styles */
@font-face {
  font-family: 'BDCartoon';
  src: url("../assets/bd_cartoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 352, ../sass/screen.scss */
body {
  background: url(../assets/bg.png) repeat 0 0, #660000;
}

/* line 356, ../sass/screen.scss */
#unsupported {
  display: none;
  text-align: center;
  font-family: BDCartoon, "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  padding-top: 100px;
}

/* line 364, ../sass/screen.scss */
#landscape {
  display: none;
  text-align: center;
  font-family: BDCartoon, "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  padding-top: 100px;
  color: white;
}

@media only screen and (orientation: portrait) {
  /* line 374, ../sass/screen.scss */
  #landscape {
    display: none;
  }

  /* line 375, ../sass/screen.scss */
  #stage {
    display: block;
  }
}
@media only screen and (orientation: landscape) and (max-device-height: 568px) {
  /* line 378, ../sass/screen.scss */
  #landscape {
    display: block;
  }

  /* line 379, ../sass/screen.scss */
  #stage {
    display: none;
  }
}
/* line 382, ../sass/screen.scss */
#stage {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2c9fd), color-stop(100%, #ddf6ff));
  background-image: -webkit-linear-gradient(#a2c9fd, #ddf6ff);
  background-image: -moz-linear-gradient(#a2c9fd, #ddf6ff);
  background-image: -o-linear-gradient(#a2c9fd, #ddf6ff);
  background-image: linear-gradient(#a2c9fd, #ddf6ff);
  background-color: #bcd8fe;
  max-height: 1000px;
  margin: auto;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
/* line 396, ../sass/screen.scss */
#stage .tile {
  width: 100%;
  background: url(../assets/tiles.png) repeat-x;
  height: 160px;
  position: absolute;
  bottom: 0px;
  background-size: contain;
  z-index: 1;
}
/* line 405, ../sass/screen.scss */
#stage .tile.top {
  bottom: 44px;
}
/* line 409, ../sass/screen.scss */
#stage .tile.bottom {
  bottom: -10px;
}
/* line 415, ../sass/screen.scss */
#stage .tree {
  height: 300px;
  position: absolute;
  bottom: 90px;
  z-index: 2;
}
/* line 423, ../sass/screen.scss */
#stage .sun {
  height: 128px;
  position: absolute;
  top: 30px;
  -webkit-animation: radiate 3s 0s ease-in-out infinite alternate both;
  -moz-animation: radiate 3s 0s ease-in-out infinite alternate both;
  -ms-animation: radiate 3s 0s ease-in-out infinite alternate both;
  animation: radiate 3s 0s ease-in-out infinite alternate both;
}
/* line 431, ../sass/screen.scss */
#stage .cloud {
  width: 200px;
  position: absolute;
  background: url(../assets/cloud.png) no-repeat;
  background-size: contain;
  height: 110px;
  opacity: 0.9;
  z-index: 10;
  pointer-events: none;
}
/* line 441, ../sass/screen.scss */
#stage .cloud.left {
  -webkit-animation: moveLeft 1s 0s linear infinite normal both;
  -moz-animation: moveLeft 1s 0s linear infinite normal both;
  -ms-animation: moveLeft 1s 0s linear infinite normal both;
  animation: moveLeft 1s 0s linear infinite normal both;
}
/* line 445, ../sass/screen.scss */
#stage .cloud.right {
  -webkit-animation: moveRight 1s 0s linear infinite normal both;
  -moz-animation: moveRight 1s 0s linear infinite normal both;
  -ms-animation: moveRight 1s 0s linear infinite normal both;
  animation: moveRight 1s 0s linear infinite normal both;
}
/* line 451, ../sass/screen.scss */
#stage .menu_scene .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: dropTitle 1s 0s cubic-bezier(0.5, 1.3, 0.7, 1) 1 normal both;
  -moz-animation: dropTitle 1s 0s cubic-bezier(0.5, 1.3, 0.7, 1) 1 normal both;
  -ms-animation: dropTitle 1s 0s cubic-bezier(0.5, 1.3, 0.7, 1) 1 normal both;
  animation: dropTitle 1s 0s cubic-bezier(0.5, 1.3, 0.7, 1) 1 normal both;
  max-width: 500px;
  width: 90%;
  height: 175px;
  background: url(../assets/Logo.png) no-repeat;
  background-size: 100%;
  background-size: contain !important;
  z-index: 9;
  position: relative;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 451, ../sass/screen.scss */
  #stage .menu_scene .title {
    background-image: url("/assets/Logo@2x.png");
    background-size: 500px 175px;
  }
}
/* line 466, ../sass/screen.scss */
#stage .menu_scene .title.removal {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 471, ../sass/screen.scss */
#stage .menu_scene .menu_item {
  -webkit-animation: dropMenu 0.1s 0s ease 1 normal both;
  -moz-animation: dropMenu 0.1s 0s ease 1 normal both;
  -ms-animation: dropMenu 0.1s 0s ease 1 normal both;
  animation: dropMenu 0.1s 0s ease 1 normal both;
}
/* line 473, ../sass/screen.scss */
#stage .menu_scene .menu_item.first {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
/* line 476, ../sass/screen.scss */
#stage .menu_scene .menu_item.first.removal {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 481, ../sass/screen.scss */
#stage .menu_scene .menu_item.second {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
/* line 484, ../sass/screen.scss */
#stage .menu_scene .menu_item.second.removal {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 489, ../sass/screen.scss */
#stage .menu_scene .menu_item.third {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
/* line 492, ../sass/screen.scss */
#stage .menu_scene .menu_item.third.removal {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 497, ../sass/screen.scss */
#stage .menu_scene .menu_item.fourth {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
/* line 500, ../sass/screen.scss */
#stage .menu_scene .menu_item.fourth.removal {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 507, ../sass/screen.scss */
#stage .menu_item {
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF29D87E', endColorstr='#FF17B362');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29d87e), color-stop(100%, #17b362));
  background-image: -webkit-linear-gradient(#29d87e, #17b362);
  background-image: -moz-linear-gradient(#29d87e, #17b362);
  background-image: -o-linear-gradient(#29d87e, #17b362);
  background-image: linear-gradient(#29d87e, #17b362);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #118649;
  text-shadow: 0 -1px 0 #19a04f;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: BDCartoon;
  font-size: 22px;
  padding-top: 13px;
  height: 37px;
  z-index: 11;
  position: relative;
}
/* line 303, ../sass/screen.scss */
#stage .menu_item:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #30f387), color-stop(100%, #0de46d));
  background-image: -webkit-linear-gradient(#30f387, #0de46d);
  background-image: -moz-linear-gradient(#30f387, #0de46d);
  background-image: -o-linear-gradient(#30f387, #0de46d);
  background-image: linear-gradient(#30f387, #0de46d);
}
/* line 306, ../sass/screen.scss */
#stage .menu_item:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #30f387), color-stop(100%, #0de46d));
  background-image: -webkit-linear-gradient(#30f387, #0de46d);
  background-image: -moz-linear-gradient(#30f387, #0de46d);
  background-image: -o-linear-gradient(#30f387, #0de46d);
  background-image: linear-gradient(#30f387, #0de46d);
}
/* line 310, ../sass/screen.scss */
#stage .menu_item:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #11793a), color-stop(100%, #19a04f));
  background-image: -webkit-linear-gradient(#11793a, #19a04f);
  background-image: -moz-linear-gradient(#11793a, #19a04f);
  background-image: -o-linear-gradient(#11793a, #19a04f);
  background-image: linear-gradient(#11793a, #19a04f);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  color: #bcbdbe;
  border: 1px solid #03150b;
}
/* line 520, ../sass/screen.scss */
#stage .menu_item.large {
  font-size: 25px;
  width: 250px;
}
/* line 525, ../sass/screen.scss */
#stage .menu_item.small {
  font-size: 22px;
  width: 150px;
}
/* line 533, ../sass/screen.scss */
#stage .game_scene #hud {
  font-family: BDCartoon;
  font-size: 30px;
  color: #149447;
  position: absolute;
  top: 30px;
  left: 30px;
}
/* line 541, ../sass/screen.scss */
#stage .game_scene #hud p {
  -webkit-animation: showHUD 0.2s 0s ease 1 normal both;
  -moz-animation: showHUD 0.2s 0s ease 1 normal both;
  -ms-animation: showHUD 0.2s 0s ease 1 normal both;
  animation: showHUD 0.2s 0s ease 1 normal both;
  line-height: 40px;
  font-size: 30px;
  text-shadow: 0 1px 0 #1b724c, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  color: #159B56;
}
/* line 548, ../sass/screen.scss */
#stage .game_scene #hud p.small {
  font-size: 20px;
}
/* line 551, ../sass/screen.scss */
#stage .game_scene #hud p.small span {
  font-size: 15px;
}
/* line 557, ../sass/screen.scss */
#stage .game_scene #hud #game_score {
  margin-top: 20px;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 562, ../sass/screen.scss */
#stage .game_scene #hud #game_lives {
  margin-top: 20px;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 567, ../sass/screen.scss */
#stage .game_scene #hud span {
  font-size: 20px;
}
/* line 572, ../sass/screen.scss */
#stage .game_scene .level_label {
  font-family: BDCartoon;
  font-size: 30px;
  text-shadow: 0 1px 0 #1b724c, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  color: #159B56;
  display: block;
  text-align: center;
  margin-top: 20%;
  line-height: 40px;
  position: absolute;
  z-index: 10;
  width: 100%;
  -webkit-animation: dropMessage 0.5s 0s ease 1 normal both;
  -moz-animation: dropMessage 0.5s 0s ease 1 normal both;
  -ms-animation: dropMessage 0.5s 0s ease 1 normal both;
  animation: dropMessage 0.5s 0s ease 1 normal both;
}
/* line 586, ../sass/screen.scss */
#stage .game_scene .level_label.removal {
  -webkit-animation: raiseMessage 0.5s 0s ease 1 normal both;
  -moz-animation: raiseMessage 0.5s 0s ease 1 normal both;
  -ms-animation: raiseMessage 0.5s 0s ease 1 normal both;
  animation: raiseMessage 0.5s 0s ease 1 normal both;
}
/* line 591, ../sass/screen.scss */
#stage .game_scene .egg {
  width: 70px;
  height: 100px;
  background: url(../assets/egg_regular.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -100px;
  z-index: 3;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 591, ../sass/screen.scss */
  #stage .game_scene .egg {
    background-image: url("../assets/egg_regular@2x.png");
    background-size: 70px 100px;
  }
}
/* line 602, ../sass/screen.scss */
#stage .game_scene .egg .sprite {
  height: 100px;
}
/* line 606, ../sass/screen.scss */
#stage .game_scene .egg.cracked {
  background-image: url(../assets/egg_cracked.png);
  background-size: contain;
  height: 112px;
  -webkit-transform: rotate(-85deg);
  -moz-transform: rotate(-85deg);
  transform: rotate(-85deg);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 606, ../sass/screen.scss */
  #stage .game_scene .egg.cracked {
    background-image: url("../assets/egg_cracked@2x.png");
    background-size: 70px 100px;
  }
}
/* line 616, ../sass/screen.scss */
#stage .game_scene .egg.broken {
  overflow: visible !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  background-image: url(../assets/egg_opened.png);
  width: 155px;
  height: 120px;
  margin-left: -50px;
  margin-top: 25px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 616, ../sass/screen.scss */
  #stage .game_scene .egg.broken {
    background-image: url("../assets/egg_opened@2x.png");
    background-size: 155px 120px;
  }
}
/* line 629, ../sass/screen.scss */
#stage .game_scene .egg.flying {
  top: -1200px !important;
}
/* line 633, ../sass/screen.scss */
#stage .game_scene .egg .cloud {
  position: absolute;
  bottom: -10px !important;
  width: 70px;
  background-position: center bottom;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: !important;
  -moz-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}
/* line 640, ../sass/screen.scss */
#stage .game_scene .egg .egg_sprite_1 .cloud {
  height: 0px;
  opacity: 0 !important;
}
/* line 645, ../sass/screen.scss */
#stage .game_scene .egg .egg_sprite_2 .cloud {
  height: 30px;
  opacity: 1 !important;
}
/* line 650, ../sass/screen.scss */
#stage .game_scene .egg .egg_sprite_3 .cloud {
  height: 40px;
}
/* line 653, ../sass/screen.scss */
#stage .game_scene .egg .egg_sprite_4 .cloud {
  height: 50px;
  width: 120px;
  margin-left: -25px;
}
/* line 658, ../sass/screen.scss */
#stage .game_scene .egg .egg_sprite_5 .cloud {
  height: 70px;
  width: 120px;
  margin-left: -25px;
  bottom: -20px !important;
}
/* line 668, ../sass/screen.scss */
#stage .game_scene .back_button {
  -webkit-animation: xDrop 0.5s 0s linear 1 normal both;
  -moz-animation: xDrop 0.5s 0s linear 1 normal both;
  -ms-animation: xDrop 0.5s 0s linear 1 normal both;
  animation: xDrop 0.5s 0s linear 1 normal both;
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF29D87E', endColorstr='#FF17B362');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29d87e), color-stop(100%, #17b362));
  background-image: -webkit-linear-gradient(#29d87e, #17b362);
  background-image: -moz-linear-gradient(#29d87e, #17b362);
  background-image: -o-linear-gradient(#29d87e, #17b362);
  background-image: linear-gradient(#29d87e, #17b362);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #118649;
  text-shadow: 0 -1px 0 #19a04f;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  width: 0px;
  height: 35px;
  padding: 11px 34px 2px 16px;
  font-family: BDCartoon;
  font-size: 22px;
  z-index: 11;
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 303, ../sass/screen.scss */
#stage .game_scene .back_button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #30f387), color-stop(100%, #0de46d));
  background-image: -webkit-linear-gradient(#30f387, #0de46d);
  background-image: -moz-linear-gradient(#30f387, #0de46d);
  background-image: -o-linear-gradient(#30f387, #0de46d);
  background-image: linear-gradient(#30f387, #0de46d);
}
/* line 306, ../sass/screen.scss */
#stage .game_scene .back_button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #30f387), color-stop(100%, #0de46d));
  background-image: -webkit-linear-gradient(#30f387, #0de46d);
  background-image: -moz-linear-gradient(#30f387, #0de46d);
  background-image: -o-linear-gradient(#30f387, #0de46d);
  background-image: linear-gradient(#30f387, #0de46d);
}
/* line 310, ../sass/screen.scss */
#stage .game_scene .back_button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #11793a), color-stop(100%, #19a04f));
  background-image: -webkit-linear-gradient(#11793a, #19a04f);
  background-image: -moz-linear-gradient(#11793a, #19a04f);
  background-image: -o-linear-gradient(#11793a, #19a04f);
  background-image: linear-gradient(#11793a, #19a04f);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  color: #bcbdbe;
  border: 1px solid #03150b;
}
/* line 684, ../sass/screen.scss */
#stage .game_over_scene {
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 100%;
}
/* line 690, ../sass/screen.scss */
#stage .game_over_scene .summary {
  -webkit-animation: dropScores 0.1s 0s ease 1 normal both;
  -moz-animation: dropScores 0.1s 0s ease 1 normal both;
  -ms-animation: dropScores 0.1s 0s ease 1 normal both;
  animation: dropScores 0.1s 0s ease 1 normal both;
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF29D87E', endColorstr='#FF17B362');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29d87e), color-stop(100%, #17b362));
  background-image: -webkit-linear-gradient(#29d87e, #17b362);
  background-image: -moz-linear-gradient(#29d87e, #17b362);
  background-image: -o-linear-gradient(#29d87e, #17b362);
  background-image: linear-gradient(#29d87e, #17b362);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #118649;
  text-shadow: 0 -1px 0 #19a04f;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 200px;
  height: 340px;
  z-index: 11;
  font-size: 25px;
  font-family: BDCartoon;
}
/* line 702, ../sass/screen.scss */
#stage .game_over_scene .summary.small {
  margin-top: 20px;
}
/* line 706, ../sass/screen.scss */
#stage .game_over_scene .summary .title {
  font-family: BDCartoon;
  padding-top: 40px;
  padding-bottom: 10px;
  z-index: 200;
}
/* line 713, ../sass/screen.scss */
#stage .game_over_scene .summary .end_score {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #12854a), color-stop(100%, #0a723c));
  background-image: -webkit-linear-gradient(#12854a, #0a723c);
  background-image: -moz-linear-gradient(#12854a, #0a723c);
  background-image: -o-linear-gradient(#12854a, #0a723c);
  background-image: linear-gradient(#12854a, #0a723c);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #165735;
  text-shadow: 0 -1px 0 #19a04f;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  font-family: BDCartoon;
  font-size: 25px;
}
/* line 727, ../sass/screen.scss */
#stage .game_over_scene .summary .end_score span {
  font-family: BDCartoon;
}
/* line 730, ../sass/screen.scss */
#stage .game_over_scene .summary .end_score span.score {
  display: block;
  font-size: 60px;
  line-height: 50px;
  padding-top: 25px;
  -webkit-animation: pulsate 0.5s 0s ease-in-out infinite alternate both;
  -moz-animation: pulsate 0.5s 0s ease-in-out infinite alternate both;
  -ms-animation: pulsate 0.5s 0s ease-in-out infinite alternate both;
  animation: pulsate 0.5s 0s ease-in-out infinite alternate both;
}
/* line 738, ../sass/screen.scss */
#stage .game_over_scene .summary .end_score span.label {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
}
/* line 746, ../sass/screen.scss */
#stage .game_over_scene .summary .message {
  font-family: BDCartoon;
  padding-top: 10px;
  -webkit-animation: dropMessage 0.5s 0.5s ease 1 normal both;
  -moz-animation: dropMessage 0.5s 0.5s ease 1 normal both;
  -ms-animation: dropMessage 0.5s 0.5s ease 1 normal both;
  animation: dropMessage 0.5s 0.5s ease 1 normal both;
}
/* line 752, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button {
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7893C3', endColorstr='#FF2B4483');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7893c3), color-stop(100%, #2b4483));
  background-image: -webkit-linear-gradient(#7893c3, #2b4483);
  background-image: -moz-linear-gradient(#7893c3, #2b4483);
  background-image: -o-linear-gradient(#7893c3, #2b4483);
  background-image: linear-gradient(#7893c3, #2b4483);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #1e305d;
  text-shadow: 0 -1px 0 #1b2e5c;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: BDCartoon;
  font-size: 15px;
  padding-top: 5px;
  height: 32px;
  z-index: 11;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding-left: 0;
  width: 100%;
  padding-right: 0;
}
/* line 303, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2bcea), color-stop(100%, #44609a));
  background-image: -webkit-linear-gradient(#a2bcea, #44609a);
  background-image: -moz-linear-gradient(#a2bcea, #44609a);
  background-image: -o-linear-gradient(#a2bcea, #44609a);
  background-image: linear-gradient(#a2bcea, #44609a);
}
/* line 306, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2bcea), color-stop(100%, #44609a));
  background-image: -webkit-linear-gradient(#a2bcea, #44609a);
  background-image: -moz-linear-gradient(#a2bcea, #44609a);
  background-image: -o-linear-gradient(#a2bcea, #44609a);
  background-image: linear-gradient(#a2bcea, #44609a);
}
/* line 310, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4360a9), color-stop(100%, #1b2e5c));
  background-image: -webkit-linear-gradient(#4360a9, #1b2e5c);
  background-image: -moz-linear-gradient(#4360a9, #1b2e5c);
  background-image: -o-linear-gradient(#4360a9, #1b2e5c);
  background-image: linear-gradient(#4360a9, #1b2e5c);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  color: #bcbdbe;
  border: 1px solid black;
}
/* line 769, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button img {
  position: relative;
  top: 4px;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: -3px;
}
/* line 777, ../sass/screen.scss */
#stage .game_over_scene .summary .facebook_button .spinner {
  margin-top: -2px;
}
/* line 783, ../sass/screen.scss */
#stage .game_over_scene .menu_button {
  display: inline-block;
  margin-right: 10px;
  -webkit-animation: dropMenu 0.1s 0.2s ease 1 normal both;
  -moz-animation: dropMenu 0.1s 0.2s ease 1 normal both;
  -ms-animation: dropMenu 0.1s 0.2s ease 1 normal both;
  animation: dropMenu 0.1s 0.2s ease 1 normal both;
}
/* line 789, ../sass/screen.scss */
#stage .game_over_scene .menu_button.removal {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 794, ../sass/screen.scss */
#stage .game_over_scene .replay_button {
  display: inline-block;
  margin-left: 10px;
  -webkit-animation: dropMenu 0.1s 0.3s ease 1 normal both;
  -moz-animation: dropMenu 0.1s 0.3s ease 1 normal both;
  -ms-animation: dropMenu 0.1s 0.3s ease 1 normal both;
  animation: dropMenu 0.1s 0.3s ease 1 normal both;
}
/* line 800, ../sass/screen.scss */
#stage .game_over_scene .replay_button.removal {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 805, ../sass/screen.scss */
#stage .game_over_scene .menu_item.small {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 15px;
  width: 120px;
}
/* line 813, ../sass/screen.scss */
#stage .highscore_scene {
  position: absolute;
  width: 100%;
  z-index: 10;
}
/* line 818, ../sass/screen.scss */
#stage .highscore_scene .highscore {
  -webkit-animation: dropScores 0.3s 1.5s ease 1 normal both;
  -moz-animation: dropScores 0.3s 1.5s ease 1 normal both;
  -ms-animation: dropScores 0.3s 1.5s ease 1 normal both;
  animation: dropScores 0.3s 1.5s ease 1 normal both;
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF29D87E', endColorstr='#FF17B362');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29d87e), color-stop(100%, #17b362));
  background-image: -webkit-linear-gradient(#29d87e, #17b362);
  background-image: -moz-linear-gradient(#29d87e, #17b362);
  background-image: -o-linear-gradient(#29d87e, #17b362);
  background-image: linear-gradient(#29d87e, #17b362);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #118649;
  text-shadow: 0 -1px 0 #19a04f;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  height: 410px;
  z-index: 11;
  overflow: scroll;
}
/* line 829, ../sass/screen.scss */
#stage .highscore_scene .highscore.removal {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 833, ../sass/screen.scss */
#stage .highscore_scene .highscore p {
  font-family: BDCartoon;
  font-size: 25px;
  margin-top: 15px;
}
/* line 839, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table {
  width: 100%;
  font-family: BDCartoon;
}
/* line 843, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table th {
  font-size: 15px;
}
/* line 846, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table th.rank {
  width: 60px;
}
/* line 853, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table th.score {
  width: 80px;
}
/* line 857, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table th.date {
  width: 130px;
}
/* line 862, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table tr {
  font-size: 12px;
}
/* line 867, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table tr td.rank {
  font-size: 17px;
}
/* line 874, ../sass/screen.scss */
#stage .highscore_scene .highscore #score_table tr td.score {
  font-size: 17px;
}
/* line 885, ../sass/screen.scss */
#stage .highscore_scene .highscore.small {
  width: 280px;
  height: 350px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 891, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table {
  line-height: 23px;
}
/* line 895, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table th.rank {
  width: 53px;
}
/* line 898, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table th.name {
  font-size: 13px;
}
/* line 901, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table th.score {
  width: 63px;
}
/* line 904, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table th.date {
  width: 75px;
}
/* line 909, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table td {
  margin-top: 10px;
}
/* line 913, ../sass/screen.scss */
#stage .highscore_scene .highscore.small #score_table td.name {
  font-size: 13px;
  line-height: 15px;
}
/* line 921, ../sass/screen.scss */
#stage .highscore_scene .back_button {
  -webkit-animation: dropMenu 0.2s 1.7s ease 1 normal both;
  -moz-animation: dropMenu 0.2s 1.7s ease 1 normal both;
  -ms-animation: dropMenu 0.2s 1.7s ease 1 normal both;
  animation: dropMenu 0.2s 1.7s ease 1 normal both;
  margin-top: 10px;
}
/* line 925, ../sass/screen.scss */
#stage .highscore_scene .back_button.removal {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 931, ../sass/screen.scss */
#stage .credits_scene {
  font-family: BDCartoon;
  font-size: 35px;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 40px;
}
/* line 939, ../sass/screen.scss */
#stage .credits_scene .credits {
  -webkit-animation: dropScores 0.4s 0.6s ease 1 normal both;
  -moz-animation: dropScores 0.4s 0.6s ease 1 normal both;
  -ms-animation: dropScores 0.4s 0.6s ease 1 normal both;
  animation: dropScores 0.4s 0.6s ease 1 normal both;
  display: block;
  width: 110px;
  text-decoration: none;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF29D87E', endColorstr='#FF17B362');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29d87e), color-stop(100%, #17b362));
  background-image: -webkit-linear-gradient(#29d87e, #17b362);
  background-image: -moz-linear-gradient(#29d87e, #17b362);
  background-image: -o-linear-gradient(#29d87e, #17b362);
  background-image: linear-gradient(#29d87e, #17b362);
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  line-height: 32px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #118649;
  text-shadow: 0 -1px 0 #19a04f;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 0 inset, rgba(255, 255, 255, 0.35) 0px 0px 5px inset, rgba(0, 0, 0, 0.15) 0px 2px 2px;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  z-index: 11;
  overflow: scroll;
}
/* line 950, ../sass/screen.scss */
#stage .credits_scene .credits.removal {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 954, ../sass/screen.scss */
#stage .credits_scene .credits h2 {
  font-size: 35px;
  padding-top: 30px;
}
/* line 959, ../sass/screen.scss */
#stage .credits_scene .credits .parse {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 100px;
  line-height: 100px;
}
/* line 966, ../sass/screen.scss */
#stage .credits_scene .credits .tutorial {
  margin-top: 30px;
}
/* line 969, ../sass/screen.scss */
#stage .credits_scene .credits .tutorial .icon {
  background: url(/assets/apple-touch-icon-144x144-precomposed.png) no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 80px;
}
/* line 978, ../sass/screen.scss */
#stage .credits_scene .credits .tutorial a {
  font-size: 15px;
  font-weight: 200;
  padding-left: 140px;
  padding-right: 70px;
  padding-top: 6px;
  display: block;
  text-decoration: none;
  color: #AEE9FF;
  cursor: pointer;
}
/* line 989, ../sass/screen.scss */
#stage .credits_scene .credits .tutorial a:hover {
  text-decoration: underline;
}
/* line 995, ../sass/screen.scss */
#stage .credits_scene .credits.small {
  width: 240px;
}
/* line 998, ../sass/screen.scss */
#stage .credits_scene .credits.small h2 {
  font-size: 28px;
}
/* line 1002, ../sass/screen.scss */
#stage .credits_scene .credits.small p.parse {
  font-size: 85px;
}
/* line 1007, ../sass/screen.scss */
#stage .credits_scene .credits.small .tutorial .icon {
  margin: 0px;
}
/* line 1011, ../sass/screen.scss */
#stage .credits_scene .credits.small .tutorial a {
  padding: 0px;
}
/* line 1018, ../sass/screen.scss */
#stage .credits_scene .back_button {
  -webkit-animation: dropMenu 0.2s 1s ease 1 normal both;
  -moz-animation: dropMenu 0.2s 1s ease 1 normal both;
  -ms-animation: dropMenu 0.2s 1s ease 1 normal both;
  animation: dropMenu 0.2s 1s ease 1 normal both;
  margin-top: 10px;
}
/* line 1022, ../sass/screen.scss */
#stage .credits_scene .back_button.removal {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

/* line 1029, ../sass/screen.scss */
.disabled {
  pointer-events: none;
}

@media all and (max-width: 600px) {
  /* line 1035, ../sass/screen.scss */
  #stage .menu_scene {
    margin-top: -10px;
  }
  /* line 1037, ../sass/screen.scss */
  #stage .menu_scene .title {
    height: 120px;
  }
  /* line 1040, ../sass/screen.scss */
  #stage .menu_scene .menu_item {
    margin-top: 20px;
  }
  /* line 1043, ../sass/screen.scss */
  #stage .menu_scene .menu_item:first {
    margin-top: 0;
  }
  /* line 1047, ../sass/screen.scss */
  #stage .cloud {
    width: 120px;
  }
  /* line 1051, ../sass/screen.scss */
  #stage .game_scene #hud {
    top: 10px;
    left: 10px;
  }
  /* line 1054, ../sass/screen.scss */
  #stage .game_scene #hud p.small {
    font-size: 11px;
    height: 0px;
  }
  /* line 1058, ../sass/screen.scss */
  #stage .game_scene #hud p.small span {
    font-size: 11px;
  }
  /* line 1063, ../sass/screen.scss */
  #stage .game_scene .back_button {
    width: 27px;
    height: 27px;
    padding: 0px;
    font-size: 11px;
    top: 10px;
    right: 10px;
  }
}
